#logo{
    padding-top: 20px;
    padding-top: 20px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: auto;
    width: 20%;
    align-self: center;
    justify-content: center;
    margin: 30px;
}
a{
    text-decoration: none;
    color: blue;
}
footer{
    size: 20%;
    border-top: 1px solid lightgray;
    text-align: center;
}